div#register(data-role='page')
  div(data-role='header')
    h1 Register

  div(data-role='content')
		h2 Welcome to North Texas Food Bank
		
		p Logging in. Please wait!

  div.ui-bar(data-role='footer', data-position='fixed')
    a(href='#info-dialog', data-icon='info', data-rel='dialog') About

div#make-call(data-role='page')
  div(data-role='header')
    h1 Donate

  div(data-role='content')
		p Make a Call to Donate Food!

    div(data-theme="c", class="ui-btn ui-btn-up-c ui-btn-corner-all ui-shadow", aria-disabled="false")
      span(class="ui-btn-inner, ui-btn-corner-all")
        span(class="ui-btn-text")
          | Make call!
      button(onclick="make_call(12142964285);",class="ui-btn-hidden",aria-disabled="false")
        | Make call!
	
  div.ui-bar(data-role='footer', data-position='fixed')
    a(href='#info-dialog', data-icon='info', data-rel='dialog') About

div#call(data-role='page')
  div(data-role='header')
    h1 Donate

  div(data-role='content')
		div#call-audio(style="display: inline;")
			| <br><br><span style="display: block; width: 100%; text-align: center"><h2><span class="call-time">Ongoing call...</span></h2></span>
			| <p><a class="call-hangup" href="" data-role="button" data-inline="false" data-icon="check" data-iconpos="right" data-theme="e">Hang up</a></p>	
        	| <br><br>
      		| <video width="0px" height="0px" style="display: none; position: absolute; top: 0px; left: 0px" id="remoteVideo" autoplay="autoplay"></video>

  div.ui-bar(data-role='footer', data-position='fixed')
    a(href='#info-dialog', data-icon='info', data-rel='dialog') About

div#index(data-role='page')
  div(data-role='header')
    h1 Donations
    a.ui-btn-right(href='#add', data-icon='plus') Add

  div(data-role='content')
    ul#donationlist(data-role='listview', data-inset='true')
      - for(var index=0; index<donations.length; index++) {
        li
          a(href='#view', id=donations[index]._id)
            p=donations[index].content
      - }

  div.ui-bar(data-role='footer', data-position='fixed')
    a(href='#info-dialog', data-icon='info', data-rel='dialog') About

div#add(data-role='page')
  div(data-role='header')
    a(data-rel='back', data-icon='back', data-derection='reverse') Back
    h1 Donation Add
    a(href='#add', data-icon='plus') Add

  div(data-role='content')
    div(data-role='filedcontain')
      label(for='donation-add') Donation
      textarea#donation-add

  div.ui-bar(data-role='footer', data-position='fixed')
    a#save-abtn(href='#', data-icon='check') Save

div#view(data-role='page')
  div(data-role='header')
    a(data-rel='back', data-icon='back', data-derection='reverse') Back
    h1 Donation View
    a(href='#add', data-icon='plus') Add

  div(data-role='content')
    div(data-role='filedcontain')
      label(for='donation-view') Donation
      p#donation-view

  div.ui-bar(data-role='footer', data-position='fixed')
    div(data-role='controlgroup', data-type='horizontal')
      a(href='#edit', data-icon='gear', data-transition='flip') Edit
      a(href='#confirm-dialog', data-icon='delete', data-rel='dialog') Delete

div#edit(data-role='page')
  div(data-role='header')
    a(data-rel='back', data-icon='back', data-derection='reverse') Back
    h1 Donation Edit
    a(href='#add', data-icon='plus') Add

  div(data-role='content')
    div(data-role='filedcontain')
      label(for='donation-edit') Donation
      textarea#donation-edit

  div.ui-bar(data-role='footer', data-position='fixed')
    a#save-ebtn(href='#', data-icon='check') Save

div#msg-dialog(data-role='page')
  div(data-role='header')
    h1 Message
  div(data-role='content')
    p#message
    a(href='#index', data-role='button') OK

div#info-dialog(data-role='page')
  div(data-role='header')
    h1 About
  div(data-role='content')
    p
    | The North Texas Food Bank was established in 1982 by Liz Minyard, Kathryn Hall, Jo Curtis and Lorraine Griffin Kircher. Their goal was to address the critical issue of hunger in North Texas by securing donations of surplus unmarketable, but wholesome, foods and grocery products for distribution through a network of charitable organizations in 13 North Texas counties including : Dallas, Denton, Collin, Fannin, Rockwall, Hunt, Grayson, Kaufman, Ellis, Navarro, Lamar, Delta and Hopkins. They were so successful  in the first year of operation that the Food Bank distributed 400,000 pounds of food! As it goes on people people suspected or with donors started to donate to this cause. As time goes on the food bank becomes 8th in the whole United States! In 2011 the NTFB managed to give over 33 million nutritious meals and this number continued to progress. Since this a voluntary organization there is "no" pay ,but they still manage to make $20,000,000 opex a year, 16,000,000 is just from donations! That's 80%.  If you donate even just 1 dollar you will be assured 96% of that will go to the hungry, that's 94 cents! That 1 dollar can buy us 3 meals for the needy! That's about 300 meals per every $100 you donate! If you would like to get even more involved join the events like Art in the Park, Taste of the NFL, and empty bowls.

div#confirm-dialog(data-role='page')
  div(data-role='header')
    h1 Confirm
  div(data-role='content')
    p Are you sure you want to delete the item?
    a#del-btn(href='#', data-role='button') Delete

script

	myId = "contacts-list";
	
	function getParameterByName(name) {
    	var match = RegExp('[?&]' + name + '=([^&]*)')
    	                .exec(window.location.search);
   		return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
	}
	
	$(function() {
		var num = getParameterByName("num");
		
		if (num)
			login(num);
	});
	
	
	sipdomain = "vims1.com";
	server = "http://12.208.176.234:9191/HaikuServlet/rest/v2";
	var getApiKey = function(username){ return username };
	
	function formatPhone(phonenum) {
		var regexObj = /^(?:\+?1[-. ]?)?(?:\(?([0-9]{3})\)?[-. ]?)?([0-9]{3})[-. ]?([0-9]{4})$/;
		if (regexObj.test(phonenum)) {
			var parts = phonenum.match(regexObj);
			var phone = "";
			if (parts[1]) { phone += "+1 (" + parts[1] + ") "; }
			phone += parts[2] + "-" + parts[3];
			return phone;
		}
		else {
			//invalid phone number
			return phonenum;
		}
	}
	
	function login(num)
	{
	
		//self.ms = new MediaServices("", "sip:" + num + "@vims1.com", "1MSpa$$w0rd", "audio");
		self.ms = new MediaServices("", "sip:" + num + "@vims1.com", "EECpa$$w0rd", "audio");

		// What happens when we get an invite
		ms.oninvite = function(invite)
		{
			if (invite.call)
			{
				self.call = invite.call;
				var rNum = invite.call.recipient;
				
				invite.call.onend = function() {
					$.mobile.changePage($("#make-call"));
				};
				
				// Format the remote user number nicely
				var match = rNum.match(/[0-9]+/);
				if (match.length > 0)
					rNum = match[0];
				rNum = formatPhone(rNum);
				$(".remote-user").text(rNum);
				$.mobile.changePage($("#incoming-call"));
				
			}
		};
		
		ms.onready = function () {
			$.mobile.changePage($("#make-call"));
		};
		
		
		$.mobile.changePage($("#logging-in"));
		
	}
	
	$(".incoming-call-answer").live("click", function() {
		self.call.answer();
		$.mobile.changePage($("#call"));
		self.call.onend = function() {
			$.mobile.changePage($("#make-call"));
		};
		self.call.onerror = function() {
			$.mobile.changePage($("#make-call"));
		};
		
		self.call.onaddstream = function(e) {
			console.log("Got media stream");
			// Don't need to do anything
			// Audio plays automatically
		};
	});
	
	$(".incoming-call-reject").live("click", function() {
		self.call.end();
		$.mobile.changePage($("#make-call"));
	});
	
	$(".call-hangup").live("click", function() {
		self.call.end();
		$.mobile.changePage($("#index"));
	});
	
	function do_login()
	{
		login(username.value);
	}
	
	function do_call()
	{
		make_call(remote_number.value);
	}
	
	function make_call(num)
	{
	
		$(".remote-user").text(formatPhone(num));
		
		self.call = ms.createCall("sip:" + num + "@vims1.com");
		
		self.call.onbegin = function() {
			self.call.onend = function () {
				$.mobile.changePage($("#make-call"));
			};
			$.mobile.changePage($("#call"));
		};
		
		self.call.onend = function () {
			setTimeout(function() { if ($.mobile.activePage.attr("id") == "outgoing-call-rejected") $.mobile.changePage($("#make-call"), {reverse: true});}, 2000);
			$.mobile.changePage($("#outgoing-call-rejected"), {transition: "fade"});
		};
		
		self.call.onerror = self.call.onend;
		self.call.ring();
		
		$.mobile.changePage($("#outgoing-call"));
	
	}
	
  var mstore = {};

  $(function() {
    $("#donationlist").delegate('a', 'click', function(e) {
      mstore.selectedid = this.id;
    });

    $("#register").bind('pagebeforeshow', function(e, ui) {
      login(username.value);
    });

    $("#index").bind('pagebeforeshow', function(e, ui) {
      $.get(
        'donation/list'
        , function(data) {
            $("#donationlist").empty();
            for(var index=0; index < data.length; index++) {
              $("#donationlist").append('<li><a href="#view" id="' + data[index]._id + '"><p>' + data[index].content + '</p></a></li>');
            }
            $("#donationlist").listview('refresh');
          }
        );
    });

    $("#add").bind('pagebeforeshow', function(e, ui) {
      $("#donation-add").val(' ');
    });

    $("#view").bind('pagebeforeshow', function(e, ui) {
      $("#donation-view").html(' ');
      $.get(
        'donation/' + mstore.selectedid
        , function(data) {
            $("#donation-view").html(data.content);
          }
        );
    });

    $("#edit").bind('pagebeforeshow', function(e, ui) {
      $("#donation-edit").val(' ');
      $.get(
        'donation/' + mstore.selectedid
        , function(data) {
            $("#donation-edit").val(data.content);
          }
        );
    });

    $("#save-abtn").bind('click', function(e) {
      $.post(
        'donation'
        , { content : $("#donation-add").val() }
        , onSuccess
        , 'json'
      );
    });

    $("#save-ebtn").bind('click', function(e) {
      $.ajax({
        type : 'PUT'
        , url : 'donation/' + mstore.selectedid
        , data : { content : $("#donation-edit").val() }
        , success : onSuccess
        , dataType : 'json'
      });
    });

    $("#del-btn").bind('click', function(e) {
      $.ajax({
        type : 'DELETE'
        , url : 'donation/' + mstore.selectedid
        , success : onSuccess
      });
    });

    function onSuccess(data) {
      $("#message").html(data.message);
      $.mobile.changePage('#msg-dialog', {transition : 'slidedown', role : 'dialog'});
    };
  });

